<section class="catalogue">
    <div class="catalogue__wrapper wrapper">
        <h2 class="title">Категории товаров</h2>
        <div class="catalogue__menu">
            <ul class="catalogue__list">
                
                <li class="catalogue__item">
                    <a href="#" class="catalogue__link">
                        <div class="photo">
                            <img class="catalogue__img" width="530" height="270" src="../img/govyadina.png" alt="#">
                        </div>
                        <h3>Говядина</h3>
                        <span>
                            <a class="link" href="#">Подробнее
                                <svg width="14" height="14"> <use xlink:href="#icon-arrowright"></use> </svg>
                            </a>
                        </span>
                    </a>
                </li>

                <li class="catalogue__item">
                    <a href="#" class="catalogue__link">
                        <div class="photo">
                            <img class="catalogue__img" width="630" height="270" src="../img/baranina.png" alt="#">
                        </div>
                        <h3>Баранина</h3>
                        <span>
                            <a class="link" href="#">Подробнее
                                <svg width="14" height="14"> <use xlink:href="#icon-arrowright"></use> </svg>
                            </a>
                        </span>
                    </a>
                </li>

                <li class="catalogue__item">
                    <a href="#" class="catalogue__link">
                        <div class="photo">
                            <img class="catalogue__img" width="630" height="270" src="../img/svinina.png" alt="#">
                        </div>
                        <h3>Свинина</h3>
                        <span>
                            <a class="link" href="#">Подробнее
                                <svg width="14" height="14"> <use xlink:href="#icon-arrowright"></use> </svg>
                            </a>
                        </span>
                    </a>
                </li>

                <li class="catalogue__item">
                    <a href="#" class="catalogue__link">
                        <div class="photo">
                            <img class="catalogue__img" width="630" height="270" src="../img/kurica.png" alt="#">
                        </div>
                        <h3>Курица</h3>
                        <span>
                            <a class="link" href="#">Подробнее
                                <svg width="14" height="14"> <use xlink:href="#icon-arrowright"></use> </svg>
                            </a>
                        </span>
                    </a>
                </li>

                <li class="catalogue__item">
                    <a href="#" class="catalogue__link">
                        <div class="photo">
                            <img class="catalogue__img" width="630" height="270" src="../img/utka.png" alt="#">
                        </div>
                        <h3>Утка</h3>
                        <span>
                            <a class="link" href="#">Подробнее
                                <svg width="14" height="14"> <use xlink:href="#icon-arrowright"></use> </svg>
                            </a>
                        </span>
                    </a>
                </li>

                <li class="catalogue__item">
                    <a href="#" class="catalogue__link">
                        <div class="photo">
                            <img class="catalogue__img" width="630" height="270" src="../img/sous.png" alt="#">
                        </div>
                        <h3>Соусы и приправы</h3>
                        <span>
                            <a class="link" href="#">Подробнее
                                <svg width="14" height="14"> <use xlink:href="#icon-arrowright"></use> </svg>
                            </a>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>