<section class="contact">
    <div class="contact__wrapper wrapper">
        <div class="contact__header">
            <h2>Обратная связь</h2>
            <span class="contact__h">Заполните форму и мы с радостью свяжемся с вами.
                 Наш консультант ответит на все ваши вопросы. </span>
        </div>

        <div class="contact__main">
            <div class="contact__left">
                <form class="contact__form">
                    <div class="contact__top">
                        <label for="phone" class="contact__phone">
                            <svg width="15" height="15">
                                <use xlink:href="#icon-phone"></use>
                            </svg>
                            <input type="phone" placeholder="Номер телефона">
                        </label>
    
                        <label for="mail" class="contact__mail">
                            <svg width="15" height="15">
                                <use xlink:href="#icon-email"></use>
                            </svg>
                            <input type="mail" placeholder="E-mail">
                        </label>
                    </div>
                    
                    <div class="contact__bottom">
                        <label for="" class="contact__textarea">
                            <span>
                                <b class="contact__bold">Опишите вашу задачу</b>
                            </span>
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </label>
                    </div>
                    <button class="contact__btn" aria-label="Отправить">Отправить</button>
                </form>

                <div class="contact__info">
                    <div class="contact__item">
                        <svg width="30" height="30"> <use xlink:href="#icon-footerphone"></use> </svg>
                        <span class="contact__text">
                            <b>Телефон:</b>
                            <span>+7 (928) 221-08-88</span>
                        </span>
                    </div>

                    <div class="contact__item">
                        <svg width="30" height="30"> <use xlink:href="#icon-footeremail"></use> </svg>
                        <span class="contact__text">
                            <b>E-mail:</b>
                            <span>info@gmail.com</span>
                        </span>
                    </div>

                    <div class="contact__item">
                        <svg width="30" height="30"> <use xlink:href="#icon-footerclock"></use> </svg>
                        <span class="contact__text">
                            <b>Режим работы:</b>
                            <span>Ежедневно с 9:00 до 21:00</span>
                        </span>
                    </div>

                    <div class="contact__item">
                        <svg width="30" height="30"> <use xlink:href="#icon-footeraddress"></use> </svg>
                        <span class="contact__text">
                            <b>Адрес:</b>
                            <span>посёлок отделения № 3, коттеджный посёлок Малиновка, ул. имени Героя Орлова, 1отдел № 3</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="contact__right">
                <div style="position:relative;overflow:hidden;border:none;">
                    <a href="https://yandex.uz/maps/10335/tashkent/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Ташкент</a>
                    <a href="https://yandex.uz/maps/10335/tashkent/house/YkAYdA9nTkwDQFprfX90dH9gZQ==/?ll=69.288024%2C41.355377&utm_medium=mapframe&utm_source=maps&z=19.87" style="color:#eee;font-size:12px;position:absolute;top:14px;">1-й квартал, 129А — Яндекс Карты</a>
                    <iframe src="https://yandex.uz/map-widget/v1/?ll=69.288024%2C41.355377&mode=whatshere&whatshere%5Bpoint%5D=69.287731%2C41.355187&whatshere%5Bzoom%5D=17&z=19.87" width="600" height="550" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>