<section class="delivery">
    <div class="delivery__wrapper wrapper">
        <h2 class="delivery__header">Доставка</h2>
        <div class="delivery__main">
            <div class="delivery__text">
                <strong>Доставка по всему городу</strong>
                <span class="delivery__info">
                    <svg width="25" height="25"> <use xlink:href="#icon-price"></use> </svg>
                    Стоимость: уточняется на этапе оформления заказа 
                </span>
                <span class="delivery__bottom">
                    <svg width="25" height="25"> <use xlink:href="#icon-basket"></use> </svg>
                    <span class="delivery">
                        <p>За 60 минут</p>
                        <p class="delivery--grey">точное время вы сможете узнать, оформляя заказ</p>
                    </span>
                </span>
            </div>

            <div class="delivery__text">
                <strong>Самовывоз из магазина</strong>
                <span class="delivery__info">
                    <svg width="25" height="25"> <use xlink:href="#icon-price"></use> </svg>
                    Стоимость: бесплатно 
                </span>
                <span class="delivery__bottom">
                    <svg width="25" height="25"> <use xlink:href="#icon-basket"></use> </svg>
                    <span class="delivery">
                        <p>За 60 минут</p>
                        <p class="delivery--grey">точное время вы сможете узнать, оформляя заказ</p>
                    </span>
                </span>
            </div>
        </div>
    </div>
</section>