<footer class="footer">
    <div class="footer__wrapper wrapper">
        <div class="footer__top">
            <div class="footer__logo">
                <a href="#">
                    <svg width="70" height="80">
                        <use xlink:href="#icon-mainlogo"></use>
                    </svg>
                </a>
                <div class="logo__info">
                    <strong>МЯСО ЕСТЬ</strong>
                    <span class="logo__center">мясной магазин</span>
                </div>
            </div>

            <div class="footer__main">
                <div class="footer__links">
                    <a href="#">О компании</a>
                    <a href="#">Каталог</a>
                    <a href="#">Доставка</a>
                </div>

                <div class="footer__links">
                    <a href="#">Рецепт</a>
                    <a href="#">Контакты</a>
                    <a href="#">Личный кабинет</a>
                </div>

                <div class="footer__links">
                    <a href="#">Мясо</a>
                    <a href="#">Птица</a>
                    <a href="#">Соусы и приправы</a>
                </div>

                <div class="footer__links">
                    <a href="#">Полуфабрикаты</a>
                    <a href="#">Мясные деликатесы</a>
                    <a href="#">Молочная продукция</a>
                </div>
            </div>

            <div class="footer__socials">
                <span class="socials__text">Мы в соцсетях:</span>
                <div class="footer__sociallogos">
                    <span>
                        <a href="#">
                            <svg width="20" height="20">
                                <use xlink:href="#icon-instagram"></use>
                            </svg>
                        </a>
                    </span>
                    <span>
                        <a href="#">
                            <svg width="20" height="20">
                                <use xlink:href="#icon-youtube"></use>
                            </svg>
                        </a>
                    </span>
                    <span>
                        <a href="#">
                            <svg width="20" height="20">
                                <use xlink:href="#icon-telegram"></use>
                            </svg>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <span>Myasoest © 2023</span>
            <span>
                <a href="https://www.alex-its.uz/">
                    <svg width="20" height="20">
                        <use xlink:href="#icon-alex"></use>
                    </svg>
                </a>
            </span>
        </div>
    </div>
</footer>