<header class="header">
    <div class="header__wrapper wrapper">
        <div class="header__top">
            <div class="header__top--left">
                <span>Режим работы: Ежедневно с 9:00 до 21:00</span>
                <span>+7 (928) 221-08-88</span>
            </div>
            <div class="header__top--right">
                <svg width="20" height="20">
                    <use xlink:href="#icon-star"></use>
                </svg>
                <span>4.7 на Яндекс.Маркете</span>
            </div>
        </div>

        <div class="header__bottom">
            <div class="header__bottom--left">
                <div class="header__logo">
                    <a href="#">
                        <svg width="40" height="60">
                            <use xlink:href="#icon-mainlogo"></use>
                        </svg>
                    </a>
                    <div class="logo__info">
                        <strong>МЯСО ЕСТЬ</strong>
                        <span class="logo__center">мясной магазин</span>
                    </div>
                </div>
                <button class="header__button" aria-label="Каталог" type="button">
                    Каталог товаров <svg width="20" height="20"> <use xlink:href="#icon-catalogue"></use> </svg>
                </button>
                <div class="header__nav">
                    <nav class="navbar">
                        <ul class="navbar__menu">
                            <li class="nav__item"><a class="nav__link" href="#">О компании</a></li>
                            <li class="nav__item"><a class="nav__link" href="#">Доставка</a></li>
                            <li class="nav__item"><a class="nav__link" href="#">Рецепты</a></li>
                            <li class="nav__item"><a class="nav__link" href="#">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
                <form class="header__search">
                    <input type="search" placeholder="Поиск...">
                    <button class="search__button" aria-label="Поиск">
                        <svg width="18" height="18"> <use xlink:href="#icon-search"></use> </svg>
                    </button>
                </form>
            </div>
            <div class="header__bottom--right">
                <div class="buttons">
                    <button class="btn__left" aria-label="Вход" type="button">
                        <svg width="20" height="20"> <use xlink:href="#icon-person"></use> </svg> Вход
                    </button>
                    <button class="btn__right" aria-label="Корзина" type="button"> 
                         <svg width="20" height="20"> <use xlink:href="#icon-basket"></use> </svg> Корзина
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>