<section class="home">
    <div class="home__wrapper wrapper">
        <div class="home__left">
            <h1>Натуральное свежее мясо</h1>
            <p>«Мясо есть» — это уникальный розничный магазин 
                по продаже мясной продукции,  с целью реализации
                высококачественного мяса, производимого на фермах.</p>
            <a class="home__link">Каталог</a>
        </div>
        <div class="home__right">
            <img class="home__image" src="../img/main-meat.png" alt="#" width="990" height="700">
        </div>
    </div>
</section>