<section class="popular">
    <div class="popular__wrapper wrapper">
        <h2 class="popular__header">Популярные товары</h2>
        
        <div class="popular__menu">
            <ul class="popular__list">
                <li class="popular__item">
                    <a href="#" class="popular__link">
                        <div class="photo">
                            <img class="popular__img" src="../img/popular-1.png" alt="" width="210" height="150">
                        </div>
                        <div class="popular__text">
                            <div class="popular__info">
                                <span class="popular__star"> 
                                    <svg width="15" height="15"> <use xlink:href="#icon-star"></use> </svg> 4.89
                                </span>
                                <span>250 гр</span>
                            </div>
                            <span class="text">Lorem ipsum dolor sit amet consectetur.</span>
                            <div class="popular__bottom">
                                <strong class="text">173,57 ₽ </strong>
                                <button class="popular__btn" aria-label="В корзину">
                                    <svg width="15" height="15"> <use xlink:href="#icon-basket"></use> </svg> В корзину
                                </button>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="popular__item">
                    <a href="#" class="popular__link">
                        <div class="photo">
                            <img class="popular__img" src="../img/popular-2.png" alt="" width="210" height="150">
                        </div>
                        <div class="popular__text">
                            <div class="popular__info">
                                <span class="popular__star"> 
                                    <svg width="15" height="15"> <use xlink:href="#icon-star"></use> </svg> 4.89
                                </span>
                                <span>250 гр</span>
                            </div>
                            <span class="text">Lorem ipsum dolor sit amet consectetur.</span>
                            <div class="popular__bottom">
                                <strong class="text">173,57 ₽ </strong>
                                <button class="popular__btn" aria-label="В корзину">
                                    <svg width="15" height="15"> <use xlink:href="#icon-basket"></use> </svg> В корзину
                                </button>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="popular__item">
                    <a href="#" class="popular__link">
                        <div class="photo">
                            <img class="popular__img" src="../img/popular-3.png" alt="" width="210" height="150">
                        </div>
                        <div class="popular__text">
                            <div class="popular__info">
                                <span class="popular__star"> 
                                    <svg width="15" height="15"> <use xlink:href="#icon-star"></use> </svg> 4.89
                                </span>
                                <span>250 гр</span>
                            </div>
                            <span class="text">Lorem ipsum dolor sit amet consectetur.</span>
                            <div class="popular__bottom">
                                <strong class="text">173,57 ₽ </strong>
                                <button class="popular__btn" aria-label="В корзину">
                                    <svg width="15" height="15"> <use xlink:href="#icon-basket"></use> </svg> В корзину
                                </button>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="popular__item">
                    <a href="#" class="popular__link">
                        <div class="photo">
                            <img class="popular__img petux" src="../img/popular-4.png" alt="" width="210" height="150">
                        </div>
                        <div class="popular__text">
                            <div class="popular__info">
                                <span class="popular__star"> 
                                    <svg width="15" height="15"> <use xlink:href="#icon-star"></use> </svg> 4.89
                                </span>
                                <span>250 гр</span>
                            </div>
                            <span class="text">Lorem ipsum dolor sit amet consectetur.</span>
                            <div class="popular__bottom">
                                <strong class="text">173,57 ₽ </strong>
                                <button class="popular__btn" aria-label="В корзину">
                                    <svg width="15" height="15"> <use xlink:href="#icon-basket"></use> </svg> В корзину
                                </button>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="popular__item">
                    <a href="#" class="popular__link">
                        <div class="photo">
                            <img class="popular__img " src="../img/popular-6.png" alt="" width="210" height="150">
                        </div>
                        <div class="popular__text">
                            <div class="popular__info">
                                <span class="popular__star"> 
                                    <svg width="15" height="15"> <use xlink:href="#icon-star"></use> </svg> 4.89
                                </span>
                                <span>250 гр</span>
                            </div>
                            <span class="text">Lorem ipsum dolor sit amet consectetur.</span>
                            <div class="popular__bottom">
                                <strong class="text">173,57 ₽ </strong>
                                <button class="popular__btn" aria-label="В корзину">
                                    <svg width="15" height="15"> <use xlink:href="#icon-basket"></use> </svg> В корзину
                                </button>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>