<section class="recipe">
    <div class="recipe__wrapper wrapper">
        <h2 class="recipe__header">Рецепты</h2>

        <div class="recipe__main">
            <ul class="recipe__list">
                <li class="recipe__item">
                    <a href="#" class="recipe__link">
                        <div class="photo">
                            <img class="recipe__img" src="../img/recipe-1.png" alt="#" width="270" height="200">
                        </div>
                        <div class="recipe__text">
                            <b>Куринный шашлык</b>
                            <a href="#">Посмотреть рецепт</a>
                        </div>
                    </a>
                </li>

                <li class="recipe__item">
                    <a href="#" class="recipe__link">
                        <div class="photo">
                            <img class="recipe__img" src="../img/recipe-2.png" alt="#" width="270" height="200">
                        </div>
                        <div class="recipe__text">
                            <b>Куринный стейк с салатом</b>
                            <a href="#">Посмотреть рецепт</a>
                        </div>
                    </a>
                </li>

                <li class="recipe__item">
                    <a href="#" class="recipe__link">
                        <div class="photo">
                            <img class="recipe__img" src="../img/recipe-3.png" alt="#" width="270" height="200">
                        </div>
                        <div class="recipe__text">
                            <b>Утинная грудка в вишевом соусе</b>
                            <a href="#">Посмотреть рецепт</a>
                        </div>
                    </a>
                </li>

                <li class="recipe__item">
                    <a href="#" class="recipe__link">
                        <div class="photo">
                            <img class="recipe__img" src="../img/recipe-4.png" alt="#" width="270" height="200">
                        </div>
                        <div class="recipe__text">
                            <b>Котлеты</b>
                            <a href="#">Посмотреть рецепт</a>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>